{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Billing Info</h1>
      <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
  </div>
</header>
<div class="container">
  <div class="=row">
   
      <div class="col-8">
        <div class="card">
          <div class="card-header">Order Summary</div>
          <div class="card-body">
            {% for product in cart_product %} {{product.name}}: 
            {% if product.is_sale %} 
            Rs {{product.sale_price}} 
               {% else %}
            Rs {{product.price}} 
            {% endif %}
            <br />
            <small>Quantity:</small>
            {% for key,value in quantities.items %} 
               {%if key == product.id|slugify %}
                  {{value}}
             {% endif %} 
            {% endfor %} 
            <br><br>

        {% endfor %}
            Total : Rs {{total}} /-
            <br><br>
             <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Info</a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">
          Shipping Info</div>
          <div class="card-body">
            <strong>Name</strong>     :{{shipping_info.Shipping_full_name}}<br>
            <strong>Email</strong>    :{{shipping_info.Shipping_email}}<br>
            <strong>Address1</strong> :{{shipping_info.Shipping_address1}}<br>
            <strong>Address2</strong> :{{shipping_info.Shipping_address2}}<br>
            <strong>State</strong>    :{{shipping_info.Shipping_state}}<br>
            <strong>Country</strong>  :{{shipping_info.Shipping_country}}<br>
            <strong>Zipcode</strong>  :{{shipping_info.Shipping_zipcode}}<br>

            </form>
            <br><br>

            <a href="{% url 'checkout' %}" class="btn btn-secondary">Update Shipping</a>
          </div>
        </div>
      </div>
      <br>
      <a href="#"class="btn btn-secondary">Continue to Billing</a>
      <br><br>
      <div class="card">
        <div class="card-header">
          Payment Info</div>
          <div class="card-body">
            <form action="{% url 'process_order' %}" method="post">
              {% csrf_token %}
              {{billing_form.as_p}}
            
            <button type="submit"class="btn btn-secondary">Pay Now</button>
          </form>

          </div>
        </div>
  </div>





</div>

{% endblock %}
