{% extends 'base.html'%} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us ......</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to our Ecommerce Website ShopWise
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="=row">
    <center>
      <div class="col-8">
       <h3>Order </h3>
       <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
         <pre> 
          Email: {{order.email}}
          Name : {{order.full_name}}
          Shipping_address: {{order.Shipping_address}}
          Amount paid: {{order.amount_paid}}
          Date Ordered: {{order.date_ordered}}
          {% if order.shipped %}
            Date Shipped: {{order.date_shipped}}
            {% endif %}
        {% for item in items %}
        {{item.product}}{{item.quantity}}{{item.price}}
        {% endfor%}
            </pre>

        {% if not order.shipped %}
         <form method="POST">
            {% csrf_token %} 
            <input type="hidden" name="shipped_status" value="True">
            <button type="submit" class="btn btn-success">Mark as Shipped 
        </form> 
        {% else %}

        <form method="POST">
        {% csrf_token %} 

            <input type="hidden" name="shipped_status" value="False"> 
            <button type="submit" class="btn btn-danger">Mark as Not Shipped 
        </form> 
        {% endif %}
        </div>
      </div>
       
      </div>
    </center>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}
