{% extends 'base.html'%} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us ......</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to our Ecommerce Website ShopWise
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="=row">
    <center>
      <div class="col-8">
        <h3>Shipped Orders</h3>

        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Order</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Price</th>
              <th scope="col">Date Ordered</th>
              <th scope="col">Shipped Date</th>
            </tr>
          </thead>
          <tbody>
            {% for i in orders %}
            <tr>
              <td><a href="{% url 'orders' i.id  %}">{{i.id}}</a></td>
              <td>{{i.full_name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.amount_paid}}</td>
              <td>{{i.date_ordered}}</td>
              <td>{{i.date_shipped}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </center>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

{% endblock %}
